<h1>New Company</h1>
<hr />
<div class="col-md-6">
  <form
    [formGroup]="newCompanyForm"
    (ngSubmit)="saveCompany(newCompanyForm.value)"
    autocomplete="off"
    novalidate
  >
    <div class="form-group" [ngClass]="{ error: name.invalid && name.dirty }">
      <label for="companyName">Company Name:</label>
      <em *ngIf="name.invalid && name.dirty">Required</em>
      <input
        formControlName="name"
        required
        id="name"
        type="text"
        class="form-control"
        placeholder="Name of your company..."
      />
    </div>
    <div class="form-group" [ngClass]="{ error: businessHours.invalid && businessHours.dirty }">
      <label for="businessHours">Business Hours:</label>
      <em *ngIf="businessHours.invalid && businessHours.dirty">Required</em>
      <input
        formControlName="businessHours"
        required
        id="businessHours"
        type="text"
        class="form-control"
        placeholder="Business Hours of your company"
      />
    </div>

    <div class="form-group">
      <label for="location">Company Location:</label>
      <input
        formControlName="location"
        id="location"
        type="text"
        class="form-control"
        placeholder="Location of company..."
      />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <button
      type="button"
      [disabled]="newCompanyForm.invalid"
      class="btn btn-default"
      (click)="cancel()"
    >
      Cancel
    </button>
  </form>
</div>
