/* You can add global styles to this file, and also import other style files */
.container{
  color: white;
  background-color: rgb(124, 122, 122);
}

.hoverwell:hover {
  background-color: #485563;
  cursor: pointer;
}

.well{
  background-color: rgb(177, 176, 176);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 30px;
}

.container {
  padding-top: 10px;
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}
